::-webkit-scrollbar {
  width:10px; /* creates padding around scroll thumb */
}

::-webkit-scrollbar-track {
   background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-image:linear-gradient(rgb(12, 13, 12),rgb(110, 110, 109));
  border-radius: 10px;
}